BEGIN;
CREATE TEMP TABLE new_products (nombre text, codigo_barras text, precio_venta numeric, precio_compra numeric, stock_actual numeric, unidad_medida text, tipo text);

    INSERT INTO public.productos (tenant_id, nombre, codigo_barras, precio_venta, precio_compra, stock_actual, unidad_medida, tipo, activo)
    SELECT '3ab239cf-2375-472d-a321-3abf1a3d79bc', nombre, codigo_barras, precio_venta, precio_compra, stock_actual, unidad_medida, tipo, true
    FROM new_products;
    

    INSERT INTO public.ingresos_inventario (tenant_id, tipo_ingreso, notas)
    VALUES ('3ab239cf-2375-472d-a321-3abf1a3d79bc', 'ajuste', 'Carga inicial de inventario desde Excel');
    

    INSERT INTO public.ingreso_inventario_detalles (ingreso_id, producto_id, cantidad, costo_unitario)
    SELECT 
        (SELECT id FROM public.ingresos_inventario WHERE tenant_id = '3ab239cf-2375-472d-a321-3abf1a3d79bc' ORDER BY created_at DESC LIMIT 1),
        p.id,
        np.stock_actual,
        np.precio_compra
    FROM public.productos p
    JOIN new_products np ON p.nombre = np.nombre
    WHERE p.tenant_id = '3ab239cf-2375-472d-a321-3abf1a3d79bc' AND np.stock_actual > 0;
    
COMMIT;
